.kicker {
  @include setType(2, $ms-down1);

  font-family: $font-sans;
  text-transform: uppercase;
}

.kicker--hed {
  margin-left: auto;
  margin-right: auto;
  max-width: $column-width + ($gutter * 2);
}

.kicker--inline {
  color: $text-color;
}
