{{#ifOr value.caption value.source}}
  <figcaption>
    {{#if value.caption}}
      {{value.caption}}
    {{/if}}
    {{#if value.source}}
      <span class="caption__source">{{{value.source}}}</span>
    {{/if}}
  </figcaption>
{{/ifOr}}
