<div class="credits">
	<footer class="credits__content">
		<h2 class="credits__heading">Credits</h2>
    {{#each bylines}}
    <p>
      <span class="credits__responsibility">{{value.role}}</span> <strong>{{#if value.credit}}{{{value.credit}}}{{else}}{{{value.name}}}{{/if}}</strong><br>
    </p>
    {{/each}}
	</footer>
</div>
