<!doctype html>
<html lang="en" class="no-js">
  <head>
    {{> start}}
    <link rel="stylesheet" href="{{assetPath}}{{#if devBuild}}styles/main.css{{else}}{{fingerprint.[styles/main.css]}}{{/if}}">
    <link rel="author" href="humans.txt" />
  </head>
  <body>
    {{> stats}}
    {{{typogrFormat contents}}}
    {{> scripts}}
  </body>
</html>
