<!doctype html>
<html lang="en" class="no-js">
  <head>
    {{> start}}
    <style media="screen">
      {{{filedata.[styles/main.css]}}}
    </style>
  </head>
  <body>
  <div id="np-{{projectName}}" class="np-specials">
    {{> stats}}
    {{{typogrFormat contents}}}
    {{> scripts}}
  </div>
  </body>
</html>
