---
model:
  key1: googledoc.json
  key2: dropboxpaper.json
layout: story.hbs
---

<p>single model:</p>
<h1>{{model.headline}}</h1>

<p> object model:</p>
<h1>{{model.key1.headline}}</h1>
<h1>{{model.key2.headline}}</h1>
