@mixin generateRatios($width, $height, $prefix: "ratio--") {

  $class-name: $prefix + $width + "x" + $height;

  .#{$class-name} {
    padding-bottom: percentage($height / $width);
  }
  // Output example: .ratio-16x9 {}
}
